.contacts-container {
  margin: 0 auto;
  max-width: 990px;
  margin-top: 150px;
}

.contacts-title {
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: -0.03em;
}

.contact-wrapper {
  display: flex;
  justify-content: space-between;
  column-gap: 104px;
  align-items: center;
}

.tel::before {
  content: "";
  display: block;

  margin-bottom: 26px;
  width: 13px;
  height: 22px;
  background-image: url("../resources/telephone.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.tel {
  font-weight: 400;
  font-size: 62px;
  letter-spacing: -0.03em;
  color: #121212;
  text-decoration: none;
}

.mail::before {
  content: "";
  display: block;

  margin-bottom: 26px;
  width: 24px;
  height: 22px;
  background-image: url("../resources/letter.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.mail {
  font-weight: 400;
  font-size: 60px;
  letter-spacing: -0.03em;
  color: rgba(18, 18, 18, 0.5);
  text-decoration: underline;
  text-underline-offset: 20px;
}

@media (max-width: 767px) {
  .contacts-title {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .contacts-container {
    margin-top: 80px;
    margin-left: 11px;
  }

  .contact-wrapper {
    flex-wrap: wrap;
  }

  .tel {
    width: 100%;
    font-size: 35px;
    line-height: 130%;
  }

  .mail {
    font-size: 35px;
    line-height: 130%;
    color: #121212;
    text-decoration: none;
    padding-top: 20px;
  }

  .tel::before {
    margin-bottom: 20px;
  }

  .mail::before {
    margin-bottom: 20px;
  }
}
