.section-gallery {
  margin-top: 157px;
}

.gallery {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.gallery_title {
  position: absolute;
  top: 60px;
  left: 125px;
  z-index: 100;

  font-weight: 400;
  font-size: 22px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fff;
}

.gallery-slides {
  height: 717px;
  position: relative;
}

.gallery-slide {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  opacity: 0;
}

.gallery_slide_active {
  opacity: 1;
}

.gallery_image {
  width: 100%;
}

.gallery-text {
  position: absolute;
  left: 125px;
  bottom: 60px;
  max-width: 443px;
  font-weight: 300;
  font-size: 30px;
  letter-spacing: -0.07em;
  color: #fff;
}

.gallery-controls {
  position: absolute;
  top: 515px;
  left: 115px;
}

@media (max-width: 1199px) {
}

@media (min-width: 767px) {
  .section-list {
    margin-top: 80px;
  }
}
