@import url(nav.css);
@import url(interior.css);
@import url(about.css);
@import url(projects.css);
@import url(popup.css);
@import url(black-section.css);
@import url(reviews.css);
@import url(contacts-section.css);
@import url(footer.css);
@import url(gallery.css);

html {
  scroll-behavior: smooth;
  max-width: 1400px;
  margin: 0 auto;
}

body {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  letter-spacing: -0.03em;
}
