@import url(nav.css);
@import url(interior.css);
@import url(about.css);
@import url(projects.css);
@import url(black-section.css);
@import url(reviews.css);
@import url(before-contacts.css);
@import url(contacts-section.css);
@import url(footer.css);
@import url(section-list.css);

html {
  scroll-behavior: smooth;
  max-width: 1400px;
  margin: 0 auto;
}

body {
  font-family: "Manrope", sans-serif;
}
